@import "tailwindcss";

@theme {
  --color-brand: #4C7EFF;
  --color-brand-dim: #96A7FF;
  --color-brand-dark: #4D5895;
  --color-brand-darkness: #13172A;

  --color-mint: #60F6D2;

  --font-main: "Manrope", sans-serif;
  --font-grotesque: "Space Grotesk", sans-serif;
}