@theme {
  --color-dash-brand: #4C7EFF;
  --color-dash-brand-dim: #96A7FF;
  --color-dash-brand-dark: #4D5895;
  --color-dash-brand-darkness: #13172A;

  --color-dash-mint: #60F6D2;
  --color-dash-mint-hover: #4DD4B1;

  --color-dash-primary-die-subdued: #0c1c3308;
  --color-dash-primary-dark-blue: #0C1C33;

  --font-dash-main: "Manrope", sans-serif;
  --font-dash-grotesque: "Space Grotesk", sans-serif;
  
  --spacing-11: 2.75rem;
}
